<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a20210305013">

    <!-- İzinler -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Diğer izinler -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ToDoList"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._20210305013">

        <!-- Ana Aktivite -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Diğer Aktiviteler, Servisler ve Alıcılar -->
        <!-- Örnek Aktivite -->
        <!--
        <activity
            android:name=".SecondActivity"
            android:label="Second Activity" />
        -->

        <!-- Örnek Servis -->
        <!--
        <service
            android:name=".MyService"
            android:exported="false" />
        -->

        <!-- Örnek Alıcı -->
        <!--
        <receiver
            android:name=".MyReceiver"
            android:exported="true"
            android:permission="android.permission.SOME_PERMISSION">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        -->
        <receiver android:name=".AlarmReceiver"/>

    </application>
</manifest>




